<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com">

    <uses-permission xmlns:android="http://android.com" android:name="android.permission.CAMERA" />
    <uses-permission xmlns:android="http://android.com" android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission xmlns:android="http://android.com" android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature xmlns:android="http://android.com" android:name="android.hardware.camera" android:required="true" />
    <uses-feature xmlns:android="http://android.com" android:name="android.hardware.location.gps" android:required="false" />

    <application
        xmlns:android="http://android.com"
        android:allowBackup="true"
        android:label="МЕГАТРОНИК HUD"
        android:supportsRtl="true">
        
        <activity
            xmlns:android="http://android.com"
            android:name="org.megatronik.megatronichud.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            
            <intent-filter xmlns:android="http://android.com">
                <action xmlns:android="http://android.com" android:name="android.intent.action.MAIN" />
                <category xmlns:android="http://android.com" android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
    </application>

</manifest>
